html {
    height: 100%;
}
body {
  background-color: #3f474d;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 14px;
  line-height: 20px;
    height: 100%;
    
  background-image: url('../Images/loginbg.png');
  background-position: 0% 66%;
  background-size: cover;
  background-repeat: no-repeat;
}


#content {
  width: 100%;
  padding-top: 104px;
  text-align: center;

  position: absolute;
  top: 30%;
  transform: translateY(-50%);
}


h1 {
  margin: 10px 0px 80px;
  font-family: Montserrat, sans-serif;
  color: #2d3338;
  font-size: 69px;
  line-height: 54px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  text-shadow: white 1px 1px 26px;
}
h2 {
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
  text-shadow: none;
}
h3 {
  margin: 5px 0px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  text-shadow: none;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
  font-family:'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0px;
  text-shadow: none;
}
.button {
  display: block;
  width: 30%;
  height: 54px;
  margin-left: -1px;
  padding: 4px 29px;
  float: left;
    border: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #2d3338;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: white;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: black;
}
.button:active {
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.29) 0px 4px 12px -4px inset;
}
.subtitle {
  margin-right: 89px;
  margin-bottom: 63px;
  margin-left: 89px;
  background-color: transparent;
  font-family: Merriweather, serif;
  color: #1c1c1c;
  font-size: 20px;
  line-height: 31px;
  font-weight: 400;
  letter-spacing: 5px;
  text-shadow: none;
}
.field {
  width: 70%;
  height: 54px;
  padding-right: 20px;
  padding-left: 20px;
  float: left;
  border: 2px solid #2d3338;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: rgba(255, 255, 255, 0.70);
  box-shadow: transparent 0px 0px 8px 0px inset, rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  color: #262c46;
  font-size: 16px;
}
.sign-up-form {
  margin-top: 65px;
  margin-bottom: 53px;
}
.social-widget {
  width: 100px;
  float: left;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.social-widget-wrapper {
  display: block;
  width: 223px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
}
.success-message {
  padding: 20px;
  border-radius: 2px;
  background-color: #209981;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.spread-word {
  margin-top: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-shadow: none;
}
.error-message {
  padding-bottom: 5px;
  border-radius: 2px;
  background-color: #5c3245;
}
.footer-section {
  padding-top: 38px;
  padding-bottom: 34px;
  background-color: #3f474d;
  color: #7e7c87;
}
.copyright {
  color: rgba(255, 255, 255, 0.52);
}
.bars-wrapper {
  background-color: #262c46;
}
.bar {
  width: 14.285%;
  height: 7px;
  float: left;
  background-color: #1abc9c;
}
.bar._2 {
  background-color: #f2ca27;
}
.bar._3 {
  background-color: #e67e22;
}
.bar._4 {
  width: 50%;
  background-color: #262c46;
}
.bar._5 {
  background-color: #2980b9;
}
.bar._6 {
  background-color: #e74c3c;
}
.container {
  padding-right: 70px;
  padding-left: 70px;
}
.image-crop {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 260px;
}
.social-section {
  padding-top: 58px;
  padding-bottom: 58px;
  background-color: #2d3338;
  text-align: center;
}
.share-btn {
  display: inline-block;
  width: 61px;
  margin-right: 14px;
  margin-left: 14px;
}
.share-wrapper {
  margin-top: 32px;
}
.refer {
  color: rgba(255, 255, 255, 0.59);
}
.align-right {
  text-align: right;
}
.social-btn {
  margin-left: 17px;
  opacity: 0.44;
}
@media (max-width: 991px) {
  .button {
    width: 30%;
  }
  .subtitle {
    text-shadow: none;
  }
  .field {
    width: 70%;
  }
  .social-btn {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .social-btn:hover {
    opacity: 0.8;
  }
}
@media (max-width: 767px) {
  h1 {
    text-shadow: none;
  }
  .button {
    width: 40%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .subtitle {
    margin-right: 0px;
    margin-left: 0px;
    text-shadow: none;
  }
  .field {
    width: 60%;
    border-top-right-radius: 0px;
  }
  .sign-up-form {
    margin-bottom: 38px;
  }
  .header-section {
    padding-top: 37px;
  }
  .footer-section {
    padding-top: 23px;
    padding-bottom: 23px;
  }
  .container {
    padding-right: 33px;
    padding-left: 33px;
  }
  .social-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
@media (max-width: 479px) {
  h2 {
    font-size: 30px;
    line-height: 31px;
    text-shadow: none;
  }
  p {
    font-size: 17px;
    text-shadow: none;
  }
  .button {
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .subtitle {
    margin-bottom: 44px;
    font-size: 22px;
    line-height: 26px;
    text-shadow: none;
  }
  .field {
    width: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-align: center;
  }
  .social-widget {
    width: 97px;
  }
  .social-widget-wrapper {
    display: block;
    width: 215px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
  }
  .copyright {
    margin-bottom: 16px;
    text-align: center;
  }
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .image-crop {
    height: auto;
    margin-bottom: 40px;
  }
  .social-section {
    padding-right: 14px;
    padding-left: 14px;
  }
  .align-right {
    text-align: center;
  }
  .social-btn {
    margin-right: 17px;
  }
}

